<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-lg-4 col-sm-6" *ngFor="let project of projects">
            <a class="portfolio-box" href="/assets/img/portfolio/fullsize/{{project.photoNumber}}.jpg" title="http://{{project.link}}">
            <img class="img-fluid" src="/assets/img/portfolio/thumbnails/{{project.photoNumber}}.jpg" alt="">
            <div class="portfolio-box-caption">
                <div class="project-category text-white-50"
                      (click)="visit(project.link, $event)">{{project.link}}</div>
                <div class="project-name">{{project.name}}</div>
            </div>
            </a>
        </div>
    </div>
</div>